.tagcloud a, .pagination li a, .pagination li a:hover, .pagination li span, .pagination li span:hover,
.pagination li.current a:hover {
	border-color:#5fc900;
}

.pagination li.current a, .pagination li.current span {
    background: #5fc900;
}

#style-switch .switch:hover, a, nav ul li a:hover, nav ul li a.current, .subscribe input.text {
	color: #5fc900;
 }
 
 
a.button i.go { background-image: url('../images/icons/go_and.png')}
a.button i.go.small { background-image: url('../images/icons/go-small_and.png')}
a.button i.grid { background-image: url('../images/icons/gallery_and.png')}
a.button i.more { background-image: url('../images/icons/more_and.png')}
a.button i.top { background-image: url('../images/icons/top_and.png')}

.loupe-gallery { margin: 80px 0 0 235px; }

.bx-wrapper {
	background-image: url(../images/gallery/hardware_and.jpg);
}

.subscribe input.submit {
	background-image: url(../images/icons/more_and.png);
	color: #5fc900;
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
	.detail { min-height: 530px; }
	.loupe-gallery { margin-left: 190px; margin-top: 50px; }
	.gallery-content { width: 400px; height: auto; }
	.loupe-still { width: 700px; height: auto; top: -15px; margin-left: -350px;}
}

@media only screen and (max-width: 767px) {
	.bx-wrapper {
		padding-top: 86px;
	}
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
	.gallery-content { width: 280px; height: auto; }
	.loupe-still { width: 490px; height: auto; top: -10px; margin-left: -245px; }
}

@media only screen and (max-width: 479px) {
	.gallery-content { width: 220px; height: auto; }
	.loupe-still { width: 360px; height: auto; top: -10px; margin-left: -179px; }
}