# Ignore all files and directories

**/error_log
public_html/error_log
public_html/*/error_log

**.DS_Store

/*

# Except our actual application folders
!.git
!.gitignore
!.htaccess
!.bowerrc
!bower.config
!bower_components
!README.md


!crons/
!public_html/
!includes/
!bower_components/

public_html/_cgi-bin
public_html/_errorpage
public_html/error_log
public_html/*/error_log
**error_log
crons/error_log
